header{
    position: absolute;
    color: white;
    width: 99%;
    height: 192px;
    background: #000080;

    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header h1{
    position: relative;
    font-size: 80px;
    margin-left: 30%;
    margin: 0%;

}

header img{
    position: relative;
    margin-left: 10%;
}

/*Hasta aca esta el cuadro del encabezado*/

nav{
    position: absolute;
    display: flex;
    gap: 100px;
    margin-top: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav a{
    color: black;
    text-decoration: none;
    font-size: 35px;
    margin-left: 20px;
}